@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Light mode */
  body {
    background-color: white;
    color: black;
  }
  
  /* Dark mode */
  body.dark {
    background-color: black;
    color: white;
  }
  
  /* 기본 스타일 */
.card {
  background-color: white;
  color: black;
  /* ... 기타 스타일 ... */
}

.label {
  color: black;
  /* ... 기타 스타일 ... */
}

/* 다크 모드 활성화될 때의 스타일 */
body.dark .card {
  background-color: gray; /* 카드의 배경색을 회색으로 */
  color: white; /* 카드 내의 글자색을 흰색으로 */
}

body.dark .label {
  color: white; /* 라벨의 글자색을 흰색으로 */
}

.dark .card {
  background-color: #2c2c2c; /* 다크 모드에서 카드의 배경색 */
}

.dark .label {
  color: #e5e5e5; /* 다크 모드에서 레이블의 색상 */
}

/* styles.css or your styles file */

.tabs {
  display: flex;
  margin-top: 20px;
}

.tabs button {
  padding: 10px 15px;
  margin-right: 10px; /* 버튼 간의 간격을 약간 늘렸습니다 */
  cursor: pointer;
  border: none;
  border-radius: 20px; /* 버튼을 둥글게 만듭니다 */
  background-color: #f5e7ea; /* 좀 더 부드러운 색상으로 변경 */
  transition: background-color 0.3s;
  color: #333; /* 조금 더 약한 텍스트 색상 */
}

.tabs button:last-child {
  margin-right: 0;
}

.tabs button:hover {
  background-color: #e0d6d9; /* 호버 시 좀 더 부드러운 색상으로 변경 */
}

.active-tab {
  background-color: #dac2c5; /* 활성 탭의 색상을 조금 더 부드럽게 변경 */
}

/* 다크 모드 스타일 */
.dark .tabs button {
  background-color: #70adb5; /* 다크 모드의 기본 버튼 색상 */
  color: #f5f5f5; /* 다크 모드 텍스트 색상 */
}

.dark .tabs button:hover {
  background-color: #598a91; /* 다크 모드 호버 색상 */
}

.dark .active-tab {
  background-color: #4a7477; /* 다크 모드 활성 탭 색상 */
}

.scrollToTopButton {
  position: fixed; 
  bottom: 20px; 
  right: 20px;
  z-index: 100; 
  font-size: 24px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scrollToTopButton:hover {
  background-color: #555;
}
