@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Light mode */
  body {
    background-color: white;
    color: black;
  }
  
  /* Dark mode */
  body.dark {
    background-color: black;
    color: white;
  }
  
  /* 기본 스타일 */
.card {
  background-color: white;
  color: black;
  /* ... 기타 스타일 ... */
}

.label {
  color: black;
  /* ... 기타 스타일 ... */
}

/* 다크 모드 활성화될 때의 스타일 */
body.dark .card {
  background-color: gray; /* 카드의 배경색을 회색으로 */
  color: white; /* 카드 내의 글자색을 흰색으로 */
}

body.dark .label {
  color: white; /* 라벨의 글자색을 흰색으로 */
}

.dark .card {
  background-color: #2c2c2c; /* 다크 모드에서 카드의 배경색 */
}

.dark .label {
  color: #e5e5e5; /* 다크 모드에서 레이블의 색상 */
}

/* styles.css or your styles file */

/* styles.css or your styles file */

.tabs {
  display: flex;
  margin-top: 20px;
}

.tabs button {
  padding: 10px 15px;
  margin-right: 5px; /* 버튼 간의 간격 설정 */
  cursor: pointer;
  border: none;
  background-color: #dabdd5;
  transition: background-color 0.3s;
  color: black; /* 기본 텍스트 색상 지정 */
}

.tabs button:last-child {
  margin-right: 0; /* 마지막 버튼에는 간격을 제거 */
}

.tabs button:hover {
  background-color: #d0d0d0;
}

.active-tab {
  background-color: #b0b0b0;
}

/* 다크 모드 스타일 */
.dark .tabs button {
  background-color: #21adba;
  color: white; /* 다크 모드 텍스트 색상 */
}

.dark .tabs button:hover {
  background-color: #555;
}

.dark .active-tab {
  background-color: #777;
}
